/* import adobe font */
@import url("https://use.typekit.net/twq8ott.css");

    body{
        margin: 0;
        background-repeat: no-repeat;
        background-image: repeating-linear-gradient(-45deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1) 100px, white 100px, white 200px);
    }   

    header {
        width: 100%;
        height: 300px;
    }

    nav {
        position: fixed;
        top: 0;
        padding: 2rem 0;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        transition: all 500ms 200ms, background-color 250ms, border-width 250ms;
    }

    .scrolled {
        background-color: white;
        border-bottom: #DBF6D1 solid 7px;
        height: 120px;
        padding: 0;
        transition: all 250ms, background-color 250ms 200ms, border-width 250ms 200ms;
    }

    header img {
        height: 100%;
        background-color: white;
        border-radius: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    article{
        margin: 1em;
        border: 7px solid #DBF6D1;
        background-color: white;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    .text {
        padding: 0 1rem;
    }

    .greyed_out {
        color: grey;
        cursor: pointer;
    }

    .info {
        text-align: center;
    }

    .box_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;
    }

    .info_box {
        background-color: white;
        border: 7px solid #DBF6D1;
        width: 300px;
        height: 300px;
        border-radius: 100%;
        padding: 1.5rem;
        display: flex;
        align-items: center;
    }

    section {
        padding: 2rem 0;
    }

    #shop_items{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
        grid-column: 2/3;
        padding: 2rem 0;
        max-width: 1250px;
        margin: 0 auto;
    }

    article img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        cursor: pointer;
    }
    
    p{
        font-family: 'Karma', serif;
        font-weight: bold;
    }

    .besk {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    h1, h2, h3{
        font-family: collector-comic, sans-serif;    
    }

    h1{
        font-size: 4rem;
        display: grid;
        place-content: center;
    }

    .sort {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    button{
        background-color: #B7EDA3;
        border: none;
        border-radius: 2rem;
        padding: .5rem 1rem;
        cursor: pointer;
        font-family: collector-comic, sans-serif;    
        font-size: 1.5rem;
        transition: 350ms;
    }

    .buy {
        font-size: 1rem;
        margin: auto 1rem 1rem 1rem;
    }

    button:hover {
        background-color: pink;
    }

    .valgt{
        background-color: pink;
    }

    #modal{
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: #00000090;
        display: none;   
        overflow: scroll;
        top: 0;
        left: 0;
    }

    #modal article{
        max-width: 900px;
        margin: 2em auto;
        background-color: pink;
    }

    footer {
        background-color: #B7EDA3;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .footer-grid {
        justify-content: center;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
    }

    .box {
        text-align: center;
    }

    .shopping_cart {
        position: fixed;
        right: 2rem;
        top: 2rem;
        font-size: 2rem;
    }

    .fa-shopping-basket {
        padding: 1rem;
    }

    .circle {
        display: none;
        position: absolute;
        bottom: .4rem;
        right: .5rem;
        transform-origin: center;
        justify-content: center;
        align-items: center;
        padding: .25rem;
        background-color: red;
        color: white;
        font-family: collector-comic, sans-serif;
        width: auto;
        min-width: .75rem;
        height: .75rem;
        font-size: .75rem;
        border-radius: 50px;
    }


    /* Mobil størrelse */
    @media screen and (max-width: 775px) {
        .box_container {
            overflow-x: scroll;
            overflow-y: hidden;
            flex-wrap: nowrap;
            justify-content: unset;
            width: 100%;
            gap: 0;
        }
        .text {
            width: 300px;
        }
        header {
            height: 120px;
        }
        nav {
            position: fixed;
            top: 0;
            padding: 2rem 0;
            background-color: white;
            border-bottom: #DBF6D1 solid 7px;
            height: 120px;
            padding: 0;
            transition: all 500ms, background-color 250ms 400ms, border-width 250ms 400ms;
        }
      }
